.contactList__item {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px;
  height: 30px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}
.contactList__name {
  font-weight: bold;
  color: #3e403f;
}
.contactList__number {
  color: #3e403f;
}
.contactList__btn {
  border: none;
  cursor: pointer;
  display: flex;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  border-radius: 5px;
}
