.signUpText {
  display: inline;

  color: #3e403f;
}
.signUpTitle {
  color: #3e403f;
  margin-bottom: 10px;
}
.signWrap {
  margin-bottom: 15px;
}
.signUpLink {
  text-decoration: none;
  margin-left: 5px;
  font-weight: 600;
  color: cornflowerblue;
}
